In [1]:
import json
import pandas as pd

import warnings
warnings.simplefilter('ignore')

from config import CONFIG
from utils import join_text_from_json_by_values

### Преобразование текстов резюме с сайта rabota.ru

In [2]:
with open(f'{CONFIG.DATA_FOLDER}/rabota_cvs.json', 'r', encoding='utf-8') as f:
    cvs = json.load(f)

transformed_cvs = list(map(join_text_from_json_by_values, cvs))

df_cvs = pd.DataFrame()
df_cvs['text'] = transformed_cvs
df_cvs.head()

                                                text
0  Программист по договоренности  Санкт-Петербург...
1  Продавец-консультант, менеджер по продажам, ра...
2  frontend-разработчик 20 000 руб. Css, html5, h...
3  Программист Java, Javascript по договоренности...
4  Программист 60 000 руб. C++, html5, javascript...

In [3]:
df_cvs.to_csv(f'{CONFIG.DATA_FOLDER}/rabota_cvs.csv', index=False)

### Преобразование текстов резюме с сайта remote-job.ru

In [4]:
with open(f'{CONFIG.DATA_FOLDER}/remote_cvs.json', 'r', encoding='utf-8') as f:
    cvs = json.load(f)

transformed_cvs = list(map(join_text_from_json_by_values, cvs))
transformed_cvs = [' '.join(transformed_cv.split()) for transformed_cv in transformed_cvs]

df_cvs = pd.DataFrame()
df_cvs['text'] = transformed_cvs
df_cvs.head()

                                                text
0  Web-программист от 120 000 руб. Россия, Сарато...
1  Оцифровщик / дизайнер / тестировщик / переводч...
2  Системный администратор от 50 000 руб. Россия,...
3  Тестировщик ПО от 30 000 руб. Россия, Хабаровс...
4  Фронтент разработчик от 40 000 руб. Россия, Мо...

In [5]:
df_cvs.to_csv(f'{CONFIG.DATA_FOLDER}/remote_cvs.csv', index=False)

### Преобразование текстов резюме с сайта hh.ru

In [6]:
with open(f'{CONFIG.DATA_FOLDER}/hh_cvs.json', 'r', encoding='utf-8') as f:
    cvs = json.load(f)

transformed_cvs = list(map(join_text_from_json_by_values, cvs))
transformed_cvs = [' '.join(transformed_cv.split()) for transformed_cv in transformed_cvs]

df_cvs = pd.DataFrame()
df_cvs['text'] = transformed_cvs
df_cvs.head()

                                                text
0  Мужчина 27 лет Москва Frontend-разработчик (Vu...
1  Мужчина 23 года Санкт-Петербург 3D Motion Desi...
2  Женщина 20 лет Санкт-Петербург Дизайнер 60 000...
3  Мужчина 39 лет Санкт-Петербург Программист-раз...
4  Мужчина 34 года Екатеринбург Дизайнер интерфей...

In [7]:
df_cvs.to_csv(f'{CONFIG.DATA_FOLDER}/hh_cvs.csv', index=False)

### Преобразование текстов вакансий с сайта hh.ru

In [8]:
with open(f'{CONFIG.DATA_FOLDER}/hh_vac.json', 'r', encoding='utf-8') as f:
    vacancies = json.load(f)
    
transformed_vacancies = list(map(join_text_from_json_by_values, vacancies))
df_vac = pd.DataFrame()
df_vac['text'] = transformed_vacancies
df_vac.head()

                                                text
0  MySQL/PHP Application Developer от 150 000 руб...
1  Frontend Developer (PlanIt) з/п не указана DIN...
2  Менеджер проектов Microsoft Dynamics CRM з/п н...
3  Senior CRM-manager з/п не указана Karuna Чкало...
4  Senior Front-End Engineer (React) з/п не указа...

In [9]:
df_vac.to_csv(f'{CONFIG.DATA_FOLDER}/hh_vacs.csv', index=False)